
<h1>Badminton Ladder</h1>
<ul id="actions">
 <li>[<a href="[% SCRIPT_NAME %]/ladder/">List ladders</a>]</li> <li>[<a href="[% SCRIPT_NAME %]/player/">List players</a>]</li> <li>[<a href="[% SCRIPT_NAME %]/team/">List teams</a>]</li>
 <li>[<a href="[% SCRIPT_NAME %]/team/;add">Add team</a>]</li>
</ul>
 
