<h1>Badminton Ladder</h1>
<ul id="actions">
 <li>[<a href="[% SCRIPT_NAME %]/ladder/">View Ladders</a>]</li>
 <li>[<a href="[% SCRIPT_NAME %]/player/">List Players</a>]</li>
 <li>[<a href="[% SCRIPT_NAME %]/team/">List Teams</a>]</li>
 <li>[<a href="[% SCRIPT_NAME %]/team/;add">Add Team</a>]</li>
 <li>[<a href="[% SCRIPT_NAME %]/team/challenges">Enter Result</a>]</li>
</ul>