
[<a href="[% model.id_ladder %];edit">Edit</a>]
<h2>ladder </h2>
<table>
 <tr><th>last_played</th><td>[% model.last_played %]</td></tr>
 <tr><th>position</th><td>[% model.position %]</td></tr>
 <tr>
  <th>team</th>
  <td>[<a href="[% SCRIPT_NAME %]/team/[% model.id_team %]">details</a>]</td>
 </tr> <tr>
  <th>ladder_type</th>
  <td>[<a href="[% SCRIPT_NAME %]/ladder_type/[% model.id_ladder_type %]">details</a>]</td>
 </tr>
</table>



 
