
<h2>ladder_types </h2>
<table id="ladder_type_list">
 <caption>ladder_type list</caption>
 <thead><tr><th>description</th></tr></thead>
 <tbody>
[% FOREACH ladder_type = model.ladder_types %]
<tr>
 <td>[% ladder_type.description %]</td>
 <td>[<a href="[% SCRIPT_NAME %]/ladder_type/[% ladder_type.id_ladder_type %]">details</a>]</td>
</tr>
[% END %]
 </tbody>
</table>

 
