
[<a href="[% model.id_player_team %];edit">Edit</a>]
<h2>player_team </h2>
<table>
 <tr>
  <th>player</th>
  <td>[<a href="[% SCRIPT_NAME %]/player/[% model.id_player %]">details</a>]</td>
 </tr> <tr>
  <th>team</th>
  <td>[<a href="[% SCRIPT_NAME %]/team/[% model.id_team %]">details</a>]</td>
 </tr>
</table>



 
