<h2>[% model.forename %] [% model.surname %]</h2>
<table>
 <tr><th>Forename</th><td>[% model.forename %]</td></tr>
 <tr><th>Surname</th><td>[% model.surname %]</td></tr>
 <tr><th>Email</th><td>[% model.email %]</td></tr>
 <tr><th>Team</th><td>[% model.teams.0.name %]</td></tr>
</table>
