
<h2>[% model.name %]</h2>
<form method="post" action="[% model.id_team %]">
 <ul>
  <li>
   <label for="name">Name</label>
   <input type="text" id="name" name="name" value="[% model.name %]" />
  </li>
 </ul>
 <input type="submit" value="Update" />
</form>
 
